<!doctype html>
<!--[if lt IE 7]> <html class="ie6 oldie" lang="zh-cn"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 oldie" lang="zh-cn"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie" lang="zh-cn"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="zh-cn">
<!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ page.title }}</title>
	<link rel="shortcut icon" href="imgs/logo20.png">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="css/style.css">
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="js/html5shiv.min.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<div id="header" class="clearfix">
		<div id="topBar">
			<a href="#">当前用户：关培源</a> | <a href="">注销</a>
		</div>
		<div id="page-title" class="pull-left">
		 <img src="imgs/logo.png" id="page-logo" height="55" alt="Logo" class="pull-left">
		 <div class="pull-left">
		    <div class="cn clearfix">
		       <img src="imgs/csu.png" height="30" alt="CSU" id="csu-logo">
		       <h1 class="pull-left">湘雅二医院PET-CT中心</h1>
		   </div>
		   <div class="en clearfix">
		       <span>PET-CT Center of 2nd Xiang ya Hospital , CSU</span>
		   </div>
		</div>
		</div>
		<div id="page-sub-title" class="pull-right">
		 电子数据采集系统
		</div>
	</div>
	<script src="js/jquery-1.10.2.min.js"></script>
	<div id="content" class="col-sm-12 clearfix">
		{{ content }}
	</div>
	<hr>
	<div id="footer" class = "mt">
		<div class="container clearfix">

		    <div class="col-sm-4 col-xs-7">
		        <aside id="linkcat" class="widget widget_links"><h3 class="widget-title">友情链接</h3>
		            <ul class="xoxo blogroll">
		                <li><a href="http://www.xyeyy.com/" target="_blank">中南大学湘雅二医院</a></li>
		                <li><a href="http://www.xiangya.com.cn/" target="_blank">中南大学湘雅医院</a></li>
		                <li><a href="http://www.xy3yy.com/" target="_blank">中南大学湘雅三医院</a></li>
		                <li><a href="http://www.csu.edu.cn/" target="_blank">中南大学</a></li>
		                <li><a href="http://www.xysm.csu.edu.cn/" target="_blank">中南大学湘雅医学院</a></li>
		            </ul>
		        </aside>
		    </div><!-- .widget-area -->
		    <div class="col-sm-2 col-xs-5">
		        <aside class="widget widget_pages"><h3 class="widget-title">关于</h3>     
		            <ul>
		                <li class="page_item page-item-2"><a href="http://www.qianduan.net/about">关于我们</a></li>
		                <li class="page_item page-item-8691"><a href="http://www.qianduan.net/copyright">版权声明</a></li>
		                <li class="page_item page-item-120"><a href="http://www.qianduan.net/sitemap">网站地图</a></li>
		            </ul>
		        </aside>
		    </div><!-- .widget-area -->
		    <div class="col-sm-5 col-xs-12 contact">
		        <blockquote class="widget widget_pages"><h3 class="widget-title">联系我们</h3>       
		            <ul>
		                <li class="page_item page-item-2">
		                    电话：0731-85292228
		                </li>
		                <li class="page_item page-item-8691">
		                    地址：湖南省长沙市人民中路<br>
		                    <span style="padding-left:3em;">中南大学湘雅二医院PET-CT中心(新内科大楼一楼)</span>
		                </li>
		                <li class="page_item page-item-120">
		                    邮编：410011
		                </li>
		            </ul>
		        </blockquote>
		    </div>
		</div>
		<hr class="pink">
		<div class="site-info">
		    Powered by <a href="#">Yves</a><br>
		    Copyright © 2013-2014 中南大学湘雅二医院PET-CT中心 All rights reserved.
		</div>
	</div>

	<!-- scripts here -->
	<script src="js/bootstrap.min.js"></script>
	<script type="text/javascript" language="javascript" src="js/common.js"></script>
	<!-- external scripts -->
	<script type = "text/javascript">

	</script>
</body>
</html>